body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    background: #ffffff;
    transition-duration: all 3s;


}

.bulboff {
    width: calc(200px*1.3) ;
    height: calc(300px*1.3);
    background-image: url(img/bulboff.png);
    background-size: cover;
    transition: all 2s linear;

}

.h1 h1{
    transition: all 1s linear;
    color: gray;
    margin-top: 0;
}

.navbar {
    width: 250px;
    height: 100%;
    position: fixed;
    top: 0px;
    right: -300px;
    background-color: #feec76;
    border-radius: 10% 0 0 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 1.5s ease;

}

.change1 {
    right: 0;
}

.navbar ul li {
    list-style: none;
    position: relative;
    margin: 5px;
}

.navbar a {
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    color: chocolate;

}

.navbar a::before,
.navbar a::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
}

.navbar a::before {
    top: 0;
    transform-origin: right;
}

.navbar a::after {
    bottom: 0;
    transform-origin: left;
}

.navbar a:hover::before,
.navbar a:hover::after {
    transform: scaleX(1);
    transition: transform 0.5s;
}


.hamburger {
    position: fixed;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;

}

.linia-1,
.linia-2,
.linia-3 {
    width: 100%;
    height: 4px;
    background-color: chocolate;
    z-index: 2;
    transition: all 0.8s;
}

.change .linia-1 {
    transform: rotateZ(-405deg) translate(-10px, 8px);
}

.change .linia-2 {
    opacity: 0;
}

.change .linia-3 {
    transform: rotateZ(405deg) translate(-10px, -8px)
}

.logo {
    position: fixed;
    bottom: 10px;
    left: 10px;
}
